body {
    background-color: #FDF0D5;
}


/*navbar*/
.topnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.topnav a:hover {
    background-color: rgb(92, 7, 7);
    color: rgb(145, 140, 140);
}

.nav a {
    background-color: rgb(92, 7, 7);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
}



h1,
h2 {
    text-align: center;
    margin-bottom: 100px;
}



.film {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
}

.bild {
    padding-left: 50%;
}

.location {
    padding-left: 25%;
}

.map {
    text-align: center;
}

.zutaten {
    padding-left: 25%;
}

.kek {
    list-style: none;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 100px;
}

.overlay {
    position: absolute;
    top: 994px;
    bottom: 0;
    left: 1fr;
    right: 1fr;
    height: 270px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(92, 7, 7);
}

.overlay2 {
    position: absolute;
    top: 1369px;
    bottom: 0;
    left: 1fr;
    right: 1fr;
    height: 270px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(92, 7, 7);
}





.container:hover .overlay {
    opacity: 0.8;
}

.container:hover .overlay2 {
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}